extends layoutCitizen

block meta
  meta(name='description' content=app.shortDescription)

  //og properties
  meta(property='og:title' content=app.name)
  meta(property='og:image' content=app.logoUrl)
  meta(property='og:description' content=app.shortDescription)


block content

  div.row
    div.col-md-3.list-group.dataset-provider
      div.list-group-item.header
        a(href=app.url)
          img.img-responsive(src=app.logoUrl alt='Responsive image')
        h4(style='overflow-x: hidden')
          a(href=app.url)= app.url
        small Desarrollada por 
          b= app.owner.name
        
        br
        br
        for tag in app.tags
          span.label.label-success= tag.title
          | &nbsp;

      div.list-group-item.socials
        span Calificar
    
      div.list-group-item
        div#rating(data-score=app.score data-votes=app.totalVotes)
        span#rating-span #{app.score.toFixed(2)}/5 - #{app.totalVotes} votos


      div.list-group-item.socials
        span Compartir en redes sociales      

      
      div.list-group-item
        div.g-plus(data-action='share')
      
      div.list-group-item
        a.twitter-share-button(href='https://twitter.com/share' data-via='bogotacomovamos' data-lang='es') Tweet
      
      div.list-group-item
        div#fb-root
        div.fb-share-button(data-type='button_count')

      div.list-group-item
        a(href='/apps/#{app.id}/report') Reportar esta aplicaci&oacute;n


    div.col-md-9

      div.page-header
        h2= app.name
        p= app.shortDescription

      p= app.description

      h3 Comentarios

        div#disqus_thread
    
        script(type="text/javascript").
        
          var disqus_shortname = 'fcorona';

          (function() {
              var dsq = document.createElement('script');
              dsq.type = 'text/javascript';
              dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
    
        noscript Please enable JavaScript to view the
          a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
        a.dsq-brlink(href="http://disqus.com") comments powered by
          span.logo-disqus Disqus

block aditionalScripts
  script(src='/js/jquery.raty.js')
  script.
    var loadRatings = function(){  
      $('#rating').raty({
        path: '/imgs',
        score: function(){
          return $(this).data('score');
        },
        click: function(score, evt){
          var data = {
            score: score
          };
          $.post('/apps/#{app.id}/rate', data, function(response){
            var oldScore = $('#rating').data('score');
            var oldVotes = $('#rating').data('votes');

            if(response.msg === 'ok'){
              score = (oldScore*oldVotes + score)/(++oldVotes);
              $('#rating-span').html(score + '/5 - ' + oldVotes + ' votos');
              $('#rating').data('score', score);
              $('#rating').data('votes', oldVotes);
            }else{
              $('#rating-span').append('<br> solo puede votar una vez.');
              loadRatings();
            }
          });
        },
        hints: ['Mala', 'Regular', 'Buena', 'Muy Buena', 'Excelente']
      });
    };
    loadRatings();