extends ../layout

block content
  div.page-header
    h2 Aplicaciones
    p Los desarrolladores de software est치n utilizando los datos abiertos para 
      | ayudar a la gente a tomar decisiones con base en la informaci칩n.
    p A continuaci칩n algunos ejemplos de aplicaciones que utilizan los datos abiertos.


  form(class='form-inline' role='form')
    div.form-group.col-sm-11(style='padding:0')
      input.form-control(type='text' placeholder='Buscar aplicaci칩n')
    div.form-group
      button.btn.btn-default(type='submit' title='buscar' value='buscar') 
        span.glyphicon.glyphicon-search
  br
  ul.media-list
    for app in apps
      li.row.media(style='margin-bottom: 3em')
        div.col-md-2(style='height:5em; overflow: hidden;')
          if app.logoUrl
            a(href='/apps/#{app.id}')
              img.media-object.img-responsive(src=app.logoUrl alt=app.name )

        div.col-md-10.media-body
          h4.media-heading
            a(href='/apps/#{app.id}')= app.name
          
          p= app.shortDescription
          a(href='url')= app.url
          | &nbsp; | &nbsp;
          span desarrollado por 
            b= app.owner.name
          br
          ul.list-unstyled.inline-block
            for tag in app.tags
              span.label.label-success= tag.title
              | &nbsp;

  div.text-center
    ul.pagination
      li.disabled
        a(href="#")&laquo;
      li.active
        a(href="#") 1
          span.sr-only (current)
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        a(href="#") 5
      li
        a(href="#")&raquo;

