extends layoutCitizen

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h2 Aplicaciones
          p Los desarrolladores de software est치n utilizando los datos abiertos para 
            | ayudar a la gente a tomar decisiones con base en la informaci칩n.
          p A continuaci칩n algunos ejemplos de aplicaciones que utilizan los datos abiertos.


  section.pad-top-25
    div.container
      div.row
        div.col-md-3.list-group.dataset-provider
          div.list-group-item.socials
            h5 Palabras Clave
          
          ul.list-unstyled
            li.list-group-item
              a(href='/apps?page=1&name=#{name}')
                div(style='position:relative')
                  span Remover todos
                  span(style='display:block;position:absolute;top:0;right:0')
                    i.fa.fa-minus-square-o 

            for tag in allTags
              li.list-group-item
                if tags.indexOf(tag.title) == -1
                  a(href='/apps?page=1&tags=#{tag.title+","+tags}&name=#{name}')
                    div(style='position:relative')
                      span.text-capitalize(style='padding-right: 1.2em;')= tag.title
                      span(style='display:block;position:absolute;top:0;right:0')
                        i.fa.fa-square-o

                else
                  a(href='/apps?page=1&tags=#{tags.replace(tag.title, "")}&name=#{name}')
                    div(style='position:relative')
                      span.text-capitalize(style='padding-right: 1.2em;')
                        b= tag.title
                      span(style='display:block;position:absolute;top:0;right:0')
                        i.fa.fa-check-square-o



        div.col-md-9

          form(class='form-inline' role='form')
            input(name='tags' type='hidden' value=tags)
            input(name='page' type='hidden' value=1)
            div.form-group.col-sm-11(style='padding:0')
              input.form-control(name='name' type='text' placeholder='Buscar aplicaci칩n' value=name)
            div.form-group
              button.btn.btn-default(type='submit' title='buscar' value='buscar') 
                span.glyphicon.glyphicon-search
          br
          ul.media-list
            for app in apps
              li.row.media(style='margin-bottom: 3em')
                div.col-md-2(style='height:5em; overflow: hidden;')
                  a(href='/apps/#{app.id}')
                    img.media-object.img-responsive(src=app.imageUrl alt=app.name onError="this.src='/imgs/genericLink_icon.jpg';")

                div.col-md-10.media-body
                  h4(style='text-transform: capitalize').media-heading
                    a(href='/apps/#{app.id}')= app.name
                  
                  p= app.shortDescription
                  span.rating(data-score=app.score)

                  br
                  a(href='url')= app.url
                  | &nbsp; | &nbsp;
                  span desarrollado por 
                    b= app.owner.name
                  br
                  ul.list-unstyled.inline-block
                    for tag in app.tags
                      a(href='/apps?page=1&tags=#{tag.title}')
                        span.label.label-success= tag.title
                      | &nbsp;

          div.text-center
            ul.pagination
              li(class=current==1?'disabled':'')
                a(href='/apps?page=#{current==1?1:current-1}&tags=#{tags}') &laquo;
              - for(var page = 1; page <= total; page++)
                li(class= page==current?'active':'' )
                  a(href='/apps?page=#{page}&tags=#{tags}')= page
              li(class=current==total?'disabled':'')
                a(href='/apps?page=#{current==total?total:current+1}&tags=#{tags}') &raquo;

block aditionalScripts
  script(src='/js/jquery.raty.js')
  script.
    
    $('.rating').each(function(index, element){
      $(element).raty({
        path: '/imgs',
        readOnly: true,
        hints: ['Mala', 'Regular', 'Buena', 'Muy Buena', 'Excelente'],
        score: function(){
          return $(this).data('score');
        }
      });
    });
    
