extends ../layout

block content
  div.page-header
    h2 Aplicaciones
    p Los desarrolladores de software están utilizando los datos abiertos para 
      | ayudar a la gente a tomar decisiones con base en la información.
    p A continuación algunos ejemplos de aplicaciones que utilizan los datos abiertos.

  div.row
    for app in apps
      div.col-sm-6.col-md-4
        div.thumbnail
          if app.logoUrl
            a(href='/apps/#{app.id}')
              img(src=app.logoUrl alt=app.name)
          div.caption
            h3
              a(href='/apps/#{app.id}')= app.name
            p= app.shortDescription
            a(href='url')= app.url
            br
            span by #{app.owner.name}


