extends ../layout

block content
  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h2 C&aacute;talogos de Datos

          p Los c&aacute;talogos de datos listados (datasets) son recopilados y entregados 
            | por la 
            b Fundación Corona 
            | y su programa 
            b
              a(href='http://www.bogotacomovamos.org/') Bogot&aacute; C&oacute;mo Vamos

  section.pad-top-25
    div.container
      div.row
        div.col-md-3.list-group.dataset-provider
          div.list-group-item.socials
            span Palabras clave
          ul.list-unstyled
            li.list-group-item
              a(href='/datasets?name=#{name}')
                span Remover todos
                  span.label.label-danger.pull-right
                    span.glyphicon.glyphicon-minus-sign

            for tag in allTags
              li.list-group-item
                if tags.indexOf(tag.name) == -1
                  a(href='/datasets?tags=#{tag.name+","+tags}&name=#{name}')
                    div
                      span= tag.name
                      span.label.label-success.pull-right
                        span.glyphicon.glyphicon-plus-sign

                else
                  a(href='/datasets?tags=#{tags.replace(tag.name, "")}&name=#{name}')
                    div
                      span= tag.name
                      span.label.label-danger.pull-right
                        span.glyphicon.glyphicon-minus-sign

        div.col-md-9
          form(class='form-inline' role='form' method='GET')
            input(name='tags' type='hidden' value=tags)
            div.form-group.col-sm-11(style='padding:0')
              input.form-control( name='name' type='text' placeholder='Buscar cátalogo' value=name)
            div.form-group
              button.btn.btn-default(type='submit' title='buscar' value='buscar') 
                span.glyphicon.glyphicon-search

          ul.list-unstyled
            for dataset in datasets
              li
                h3 
                  a(href='/datasets/#{dataset.name}')= dataset.name
                p= dataset.description
                a.format(href='/datasets/#{dataset.name}/graph/')
                  span.label.label-primary Inter&aacute;ctivo
                | &nbsp;|&nbsp;
                a.format(href='/datasets/#{dataset.name}/table/')
                  span.label.label-success CSV
                | &nbsp;|&nbsp;
                a.format(href='/api/datas/#{dataset.id}/?key=comovamos/')
                  span.label.label-info API REST
                br
                p= dataset.totalValues>0?dataset.totalValues+' años disponibles':'no hay datos.'

          div.text-center
            ul.pagination
              li(class=current==1?'disabled':'')
                a(href='/datasets?page=#{current==1?1:current-1}&tags=#{tags}&name=#{name}') &laquo;
              - var firstIndex = total<=11?1: current-5>1?current-5:1;
              - for(var page = firstIndex; page <= total && page <= firstIndex+10; page++)
                li(class= page==current?'active':'' )
                  a(href='/datasets?page=#{page}&tags=#{tags}&name=#{name}')= page
              li(class=current==total?'disabled':'')
                a(href='/datasets?page=#{current==total?total:current+1}&tags=#{tags}&name=#{name}') &raquo;
