extends layoutCitizen

block meta
  meta(name='description' content=dataset.description)

  //og properties
  meta(property='og:title' content=dataset.title)
  meta(property='og:image' content='http://gallery.mailchimp.com/fb9fdd8a176f2f16e486b877d/images/logo_bogota_como_vamos.png')
  meta(property='og:description' content=dataset.description)

block content

  section.pad-top-25
    div.container
      div.row
        div.col-md-3.list-group.dataset-provider
          div.list-group-item.header
            img.img-responsive(src='http://gallery.mailchimp.com/fb9fdd8a176f2f16e486b877d/images/logo_bogota_como_vamos.png' alt='Responsive image')
            h3 Bogotá Cómo vamos
            a(href='http://bogotacomovamos.org/') bogotacomovamos.org
          
          ul.list-unstyled

            li.list-group-item
              b Cat&aacute;logo de datos: 
              span= dataset.dataset.title
            li.list-group-item
              b Categor&iacute;a: 
              span= dataset.category.name
            li.list-group-item
              b Dimensi&oacute;n: 
              span= dataset.dimension.name


            li.list-group-item
              b Unidad de medida: 
              span= dataset.measureType
            li.list-group-item
              b Fuente: 
              span= dataset.source
            li.list-group-item
              b Cobertura: 
              span= dataset.coverage
            li.list-group-item
              b Periodicidad: 
              span= dataset.period

          div.list-group-item.socials
            span Compartir en redes sociales
          
          ul.list-unstyled
            li.list-group-item
              div.g-plus(data-action='share')

            li.list-group-item
              a.twitter-share-button(href='https://twitter.com/share' data-via='bogotacomovamos' data-lang='es') Tweet
            
            li.list-group-item
              div#fb-root
              div.fb-share-button(data-type='button_count')



        div.col-md-9

          div.page-header
            h2= dataset.name
          
          h4 Descripci&oacute;n: 
          p= dataset.description
          br
          h4 Gr&aacute;fico:
          br
          div.row
            div.chart-container
              svg#chart.chart.col-md-10
          
          h4 Desarrolladores:
          ul.list-group
            li.list-group-item
              a(href='/api/datas/#{dataset.id}/?key=comovamos/' target='_blank') API REST


block aditionalScripts
  script(src='/js/dimension.js')
  script(src='/js/d3.v3.min.js')
  script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
  script(src='/js/graph.js')
  script.
    initGraph('#{dataset.id}');
