extends ../layout

block content
  section#page-title-wrapper.page-title-wrapper(style='padding-bottom:0')
    div.container
      div.row
        div.col-sm-12
          h2 C&aacute;talogos de Datos

          p Los c&aacute;talogos de datos listados (datasets) son recopilados y entregados 
            | por 
            b
              a(href='http://www.bogotacomovamos.org/') Bogot&aacute; C&oacute;mo Vamos
      
      div.row
        ul.nav.nav-tabs
          li
            a(href='/datasets') Datos Objetivos
          li.active
            a(href='#') Datos Subjetivos
  
  section.pad-top-25
    div.container
      div.row
        div.col-md-12(style='font-size:1.2em')
          p Indican la percepci&oacute;n que tiene la ciudadan&iacute;a de como la calidad
            | de vida afecta sus vidas. Se obtienen a partir de una Encuesta 
            | de Percepci&oacute;n Ciudadana anual que es representativa para toda
            | la ciudad, seis zonas, grupos de edad y niveles 
            | socioecon&oacute;micos.
          br
        div.col-md-3.list-group.dataset-provider
          div.list-group-item.socials
            h5 Categor&iacute;as
          ul.list-unstyled
            li.list-group-item
              a(href='/datasetsSubjective?name=#{name}')
                div(style='position:relative')
                  span Remover todos
                  span(style='display:block;position:absolute;top:0;right:0')
                    i.fa.fa-minus-square-o

            for tag in allTags
              li.list-group-item
                if tags.indexOf(tag.name) == -1
                  a(href='/datasetsSubjective?tags=#{tag.name+";"+tags}&name=#{name}')
                    div(style='position:relative')
                      span(style='padding-right:1.2em')= tag.name
                      span(style='display:block;position:absolute;top:0;right:0')
                        i.fa.fa-square-o

                else
                  a(href='/datasetsSubjective?tags=#{tags.replace(tag.name, "")}&name=#{name}')
                    div(style='position:relative')
                      span(style='padding-right: 1em;')
                        b= tag.name
                      span(style='display:block;position:absolute;top:0;right:0')
                        i.fa.fa-check-square-o

        div.col-md-9
          form(class='form-inline' role='form' method='GET')
            input(name='tags' type='hidden' value=tags)
            div.form-group.col-sm-11(style='padding:0')
              input.form-control( name='name' type='text' placeholder='Buscar cátalogo' value=name)
            div.form-group
              button.btn.btn-default(type='submit' title='buscar' value='buscar') 
                span.glyphicon.glyphicon-search

          ul.list-unstyled
            for dataset in datasets
              li(style='padding: 10px;')
                h3 
                  a(href='/datasets/#{dataset.id}') #{(dataset.description.trim()[dataset.description.trim().length-1]=='?'?dataset.description.trim():dataset.description.trim()+'?')}
                div(style='display:inline-block;width:50%')
                  a.format(href='/datasets/#{dataset.id}/csv')
                    span.label.label-success CSV
                  | &nbsp;|&nbsp;
                  a.format(href='/api/datas/#{dataset.id}/?key=comovamos/')
                    span.label.label-info API REST
                div(style='display:inline-block;width:50%;text-align:right;font-size:0.8em')
                  i= dataset.totalValues>0?'Información de '+dataset.totalValues+' años disponible.':'no hay datos.'

          div.text-center
            ul.pagination
              li(class=current==1?'disabled':'')
                a(href='/datasetsSubjective?page=#{current==1?1:current-1}&tags=#{tags}&name=#{name}') &laquo;
              - var firstIndex = total<=11?1: current-5>1?current-5:1;
              - for(var page = firstIndex; page <= total && page <= firstIndex+10; page++)
                li(class= page==current?'active':'' )
                  a(href='/datasetsSubjective?page=#{page}&tags=#{tags}&name=#{name}')= page
              li(class=current==total?'disabled':'')
                a(href='/datasetsSubjective?page=#{current==total?total:current+1}&tags=#{tags}&name=#{name}') &raquo;
