extends layoutCitizen

block meta
  meta(name='description' content=dataset.description)

  //og properties
  meta(property='og:title' content=dataset.title)
  meta(property='og:image' content='http://gallery.mailchimp.com/fb9fdd8a176f2f16e486b877d/images/logo_bogota_como_vamos.png')
  meta(property='og:description' content=dataset.description)

block content
  
  section.pad-top-25
    div.container  
      div.row
        div.col-md-3.list-group.dataset-provider
          div.list-group-item.header
            img.img-responsive(src='http://gallery.mailchimp.com/fb9fdd8a176f2f16e486b877d/images/logo_bogota_como_vamos.png' alt='Responsive image')
            h3 Bogotá Cómo vamos
            a(href='http://bogotacomovamos.org/') bogotacomovamos.org

          div.list-group-item.socials
            span Compartir en redes sociales
          
          u
            li.list-group-item
              div.g-plus(data-action='share')

            li.list-group-item
              a.twitter-share-button(href='https://twitter.com/share' data-via='bogotacomovamos' data-lang='es') Tweet
            
            li.list-group-item
              div#fb-root
              div.fb-share-button(data-type='button_count')

        div.col-md-9
          div.page-header
            h2= dataset.name
          
          
          div.row
            div.col-md-2
              label(for=description) descripci&oacute;n: 
              span#description 
              br
              label(for=measureType) Tipo de Medida: 
              span#measureType 
              br
              label(for=source) fuente: 
              span#source 
              br
              label(for=coverage) cobertura: 
              span#coverage 
              br
              label(for=period) periodicidad: 
              span#period 

            iframe(src='http://api.bogotacomovamos.org/graphIccv/71' width='100%' height='600')


block aditionalScripts
  script(src='/js/dimension.js')
  script(src='/js/d3.v3.min.js')
  script(src='/js/graph.js')
  script.
    initGraph('#{dataset.id}');
