html
  head 
    link(rel='shorcut icon' href='/ico/favicon.png')
    //bootstrap
    link(rel='stylesheet' href='/css/bootstrap.css')

  body
    div.container
      div.page-header  
        div.row
          div.col-md-2
            label(for=description) descripci&oacute;n: 
            span#description 
            br
            label(for=measureType) Tipo de Medida: 
            span#measureType 
            br
            label(for=source) fuente: 
            span#source 
            br
            label(for=coverage) cobertura: 
            span#coverage 
            br
            label(for=period) periodicidad: 
            span#period 

          div.chart-container
            svg#chart.chart.col-md-10

    block aditionalScripts
      script(src='/js/dimension.js')
      script(src='/js/d3.v3.min.js')
      script(src='/js/graph.js')
      script.
        initGraph('#{dataset.id}');
