div.page-header
  h2= dataset.title
    p= dataset.description

  div.row
    h3.col-md-4.text-center Dimensi&oacute;n
    h3.col-md-4.text-center Categoría
    h3.col-md-4.text-center Indicador

  form.form-inline.row(role="form" action="")
    div.form-group.col-md-4
      select.form-control.col-md-12#dimensionSelect
        
    div.form-group.col-md-4
      select.form-control#categorySelect
        
    div.form-group.col-md-4
      select.form-control#indicatorSelect
      
  div.row
    div.col-md-2
      label(for=description) descripci&oacute;n: 
      span#description 
      br
      label(for=measureType) Tipo de Medida: 
      span#measureType 
      br
      label(for=source) fuente: 
      span#source 
      br
      label(for=coverage) cobertura: 
      span#coverage 
      br
      label(for=period) periodicidad: 
      span#period 

    div.chart-container
      svg#chart.chart.col-md-10

block aditionalScripts
  script(src='/js/dimension.js')
  script(src='/js/d3.v3.min.js')
  script(src='/js/graph.js')
  script.
    initGraph('#{dataset.name}');
