extends layoutAdmin

block adminContent
  div.page-header
    h2 Aplicaciones
    p Seleccione y administre las aplicaciones

  table.table.table-striped.table-responsive
    thead
      tr
        th Nombre
        th desarrollador
        th contacto
        th Descripci&oacute;n
        th Opciones

    tbody
      for app in apps
        tr
          td
            a(href='/admin/apps/#{app.id}')= app.name
          td
            a(href='/admin/devs/#{app.owner.id}')= app.owner.name
          td
            a(href='mailto://app.owner.email')= app.owner.email
          td= app.description
          td
            form(method='POST' action='/admin/apps/#{app.id}/toggleBlock/')
              button.btn.btn-sm.btn-warning.format(type='submit'
                  href='#'
                  id='disallow-#{app.id}'
                  class=app.allowed?'show':'hidden'
                  data-appid=app.id
                  data-title='Bloquear la aplicación '
                  data-message='Al bloquear la aplicación esta no podra acceder al API de bogota como vamos para ejecutar consultas. ¿Bloquear?')
                | bloquear

              button.btn.btn-sm.btn-success.format(type='submit'
                  href='#'
                  id='allow-#{app.id}'
                  class=app.allowed?'hidden':'show'
                  data-appid=app.id
                  data-title='Habilitar Aplicaci&oacute;n' 
                  data-message='Al habilitar la aplicación esta podra acceder al API de bogota como vamos para ejecutar consultas. ¿Habilitar?')
                | habilitar

  include mixinModal

block scripts
  script(src='/js/admin/script.js')
  script.
    configureAdmin('appid', '/admin/apps/?/toggleBlock/');