extends layoutAdmin

block adminContent
  div.page-header
    h1 Desarrolladores
    p Seleccione y administre los desarrolladores

  div.table-responsive
    table.table.table-striped
      thead
        tr
          th Nombre
          th email
          th Opciones

      tbody
        for dev in devs
          tr
            td
              a(href='/admin/devs/#{dev.id}')= dev.name
            td= dev.email
            td
              form(method='POST' action='/admin/devs/#{dev.id}/toggleVerify/')
                button.btn.btn-sm.btn-warning.format(type='submit'
                    href='#'
                    id='disallow-#{dev.id}'
                    class=dev.verified?'show':'hidden'
                    data-devid=dev.id
                    data-title='Quitar verificaci&oacute;n a #{dev.name}'
                    data-message='Este usuario ya no podra tener acceso priviligeado al API')
                  | Quitar verificaci&oacute;n

                button.btn.btn-sm.btn-success.format(type='submit'
                    href='#'
                    id='allow-#{dev.id}'
                    class=dev.verified?'hidden':'show'
                    data-devid=dev.id
                    data-title='Verificar a #{dev.name}'
                    data-message='Confirma que desea marcar a #{dev.name} como un usuario verificado?')
                  | Verificar

  include mixinModal

block scripts
  script(src='/js/admin/script.js')
  script.
    configureAdmin('devid', '/admin/devs/?/toggleVerify/');
    