extends ../layout

block content

  section#page-title-wrapper.page-title-wrapper
    div.container
      div.row
        div.col-sm-12
          h2 Cambiar contrase&ntilde;a
            small.pull-right
              a(href='/user') volver


  section.pad-top-25
    div.container
      form.form-horizontal(role='form' method='POST')
        div.form-group(class=errors.oldPass?'has-error':'')
          label.col-sm-2.control-label(for='oldPass') Contrase&ntilde;a antigua
          
          div.col-sm-10
            input#oldPass.form-control(type='password' name='oldPass' minlength=3 maxlength=50 required)
            if errors.oldPass
              span.help-block= errors.oldPass
        
        div.form-group(class=errors.newPass?'has-error':'')
          label.col-sm-2.control-label(for='newPass') Nueva contrase&ntilde;a
          
          div.col-sm-10
            input#newPass.form-control(type='password' name='newPass' minlength=3 maxlength=50 required)
            if errors.newPass
              span.help-block= errors.newPass

        div.form-group(class=errors.rePass?'has-error':'')
          label.col-sm-2.control-label(for='rePass') Repita contrase&ntilde;a

          div.col-sm-10
            input#rePass.form-control(type='password' name='rePass' minlength=3 maxlength=50 required)
            if errors.rePass
              span.help-block= errors.rePass

        div.form-group
        
          div.col-sm-offset-2.col-sm-10
            button.btn.btn-primary.pull-right(type='submit') Guardar