extends layout

block content

  label(for=datasetSelect) seleccione dataset 
  select#datasetSelect
  br
  label(for=dimensionSelect) seleccione dimension  
  select#dimensionSelect
  br
  label(for=categorySelect) seleccione categor&iacute;a  
  select#categorySelect
  br
  label(for=indicatorSelect) seleccione indicador  
  select#indicatorSelect
  br
  div
    label(for=description) descripci&oacute;n: 
    span#description
    br
    label(for=measureType) Tipo de Medida: 
    span#measureType
    br
    label(for=source) fuente: 
    span#source
    br
    label(for=coverage) cobertura: 
    span#coverage
    br
    label(for=period) periodicidad: 
    span#period
    br

  p#chart

  script(src='http://d3js.org/d3.v3.min.js')
  script(src='/js/graph.js')
