extends layout

block content
  section#main
    div.container()
      div.heading-top
        h1 Tecnología, información e innovación al servicio
        h1.enphasis de los bogotanos
        a#action.btn.btn-info(href='/datasets') EMPOD&Eacute;RATE

  hr
  section.pad-top-25
    div.container
      div(style='font-family: "Monserrat", sans-serif;text-align:center;font-size:2em')
        p Trabajemos juntos: tú tienes las ideas, nosotros la información.
          br 
          | Construyamos juntos una ciudad mejor.

  hr

  section.pad-top-5
    div.container
      div.row
        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-group
            
            div.service-details
              h4 Ciudadanos
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.

        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-laptop
            
            div.service-details
              h4 Desarrolladores
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.

        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-pencil
            
            div.service-details
              h4 Diseñadores
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.


  section.pad-top-25
    div.container
      div.subpage-title
        h2 C&aacute;talogos de datos
      div.row
        div#isotope-portfolio-container
          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                a(href='/datasets')
                  img.img-responsive(src='/imgs/API-calidaddevida.jpg' alt='1st Porfolio Thumb')
                  div.portfolio-details
                    h5 Indicadores Calidad de vida Objetivos
                    p los indicadores presentan el acceso a bienes y servicios b&aacute;sicos de la ciudad que impactan la calidad de vida de los ciudadanos..

          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='/imgs/API-percepcionciudadana.jpg' alt='1st Porfolio Thumb')
                div.portfolio-details
                  h5 Indicadores Calidad de vida Subjetivos
                  p Indican la percepción que tiene la ciudadanía de como la calidad
                    | de vida afecta sus vidas. Se obtienen a partir de una Encuesta 
                    | de Percepción Ciudadana anual que es representativa para toda
                    | la ciudad, seis zonas, grupos de edad y niveles 
                    | socioecon&oacute;micos.



  section#recent-works.pad-top-25
    div.container
      div.subpage-title
        h2 Aplicaciones Recientes

      div.row.flush
        div#apps
          for app in apps
            div.col-xs-12.col-sm-6.col-md-4
              div.portfolio-item
                a.portfolio-link(href='/apps/#{app.id}')
                  div.portfolio-thumb
                    img.img-responsive(src=app.imageUrl alt='app' onError="this.src='/imgs/genericLink_icon.jpg';")
                div.portfolio-details
                  a.portfolio-link(href='/apps/#{app.id}')
                    h5= app.name
                  p= app.shortDescription


  section#recent-works.pad-top-25
    div.container
      div.subpage-title
        h2 Un programa de:

      
      div.sponsors
        div.centered(style='text-align:center')
          
          a.sponsor(href='http://www.fundacioncorona.org.co/' target='_blank')
            img(src='/imgs/fcorona.jpg' alt='Fundación Corona' style='height:40px;')
          
          a.sponsor(href='http://www.eltiempo.com/' target='_blank')
            img(src='/imgs/eltiempo.jpg' alt='El Tiempo' style='height:35px;')
          
          a.sponsor(href='http://www.javeriana.edu.co/' target='_blank')
            img(src='/imgs/javeriana.JPG' alt='Pontificia Universidad Javeriana')
          
          a.sponsor(href='http://www.ccb.org.co' target='_blank')
            img(src='/imgs/ccb.JPG' alt='Cámara de Comercio de Bogotá')
          
      
