extends layout

block content
  section(style='position:relative')
    div#main
    div(style='position:absolute;background-color:#fff;width:100%;top:-10px;height:10px;')
    div(style='position:absolute;background-color:#fff;width:100%;bottom:-10px;height:10px;')
    div.container(style='height:600px')
      div.heading-top
        h1 Tecnolog&iacute;a, informaci&oacute;n e innovaci&oacute;n al servicio
        h1.enphasis de los bogotanos
        a#action.btn.btn-flat.btn-info.fjalla(href='/datasets') EMPOD&Eacute;RATE
      div.author
        span Fotograf&iacute;a por 
          b Santhos Moreno

  hr
  section.pad-top-25
    div.container
      div(style='font-family: "Monserrat", sans-serif;text-align:center;font-size:2em;font-weight: 800;color: #768594;')
        p Trabajemos juntos: t&uacute; tienes las ideas, nosotros la informaci&oacute;n.
          br 
          | Construyamos juntos una ciudad mejor.

  hr

  section.pad-top-5
    div.container
      div.row
        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-group
            
            div.service-details
              h4 Ciudadanos
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.

        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-laptop
            
            div.service-details
              h4 Desarrolladores
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.

        div.col-xs-12.col-sm-4
          div.service.service-2
            span.service-icon
              i.fa.fa-pencil
            
            div.service-details
              h4 Dise&ntilde;adores
              //p Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.


  section.pad-top-25
    div.container
      div.subpage-title
        h2 Cat&aacute;logos de datos
      div.row
        div#isotope-portfolio-container
          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              a(href='/datasets')
                div.portfolio-thumb.dataset-home
                    div.portfolio-details
                      h5 Indicadores Calidad de vida Objetivos
                      p Los indicadores presentan el acceso a bienes y servicios b&aacute;sicos de la ciudad que impactan la calidad de vida de los ciudadanos.
                    img.img-responsive(src='/imgs/FOTO2.jpg' alt='1st Porfolio Thumb')
                    h4 Indicadores Calidad de vida Objetivos
                    div.author
                      span Fotograf&iacute;a por 
                      b Gabriel Legarda

          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              a(href='/datasetsSubjective')
                div.portfolio-thumb.dataset-home
                  div.portfolio-details
                    h5 Indicadores Calidad de vida Subjetivos
                    p Indican la percepci&oacute;n que tiene la ciudadan&iacute;a de como la calidad
                      | de vida afecta sus vidas. Se obtienen a partir de una Encuesta 
                      | de Percepci&oacute;n Ciudadana anual que es representativa para toda
                      | la ciudad, seis zonas, grupos de edad y niveles 
                      | socioecon&oacute;micos.
                  img.img-responsive(src='/imgs/FOTO1.jpg' alt='1st Porfolio Thumb')
                  h4 Indicadores Calidad de vida Subjetivos
                  div.author
                    span Fotograf&iacute;a por 
                    b Christian Andr&eacute;s Zelote



  section#recent-works.pad-top-25
    div.container
      div.subpage-title
        h2 Aplicaciones Populares
        div.controls(style='top:initial; bottom:5px;')
          span#blog-posts-prev.prev(style='display: inline-block;')
            i.fa.fa-angle-left
          span#blog-posts-next.next(style='display: inline-block;')
            i.fa.fa-angle-right

      div.row.flush
        div.caroufredsel_wrapper
          div#apps.caroufredsel-portfolio-container
            for app in apps
              div.col-xs-12.col-sm-6.col-md-4
                div.portfolio-item
                  a.portfolio-link(href='/apps/#{app.id}')
                    div.portfolio-thumb
                      img.img-responsive(src=app.imageUrl alt=app.name onError="this.src='/imgs/genericLink_icon.jpg';")
                  div.portfolio-details
                    a.portfolio-link(href='/apps/#{app.id}')
                      h5= app.name
                    p= app.shortDescription
            
            div.col-xs-12.col-sm-6.col-md-4
              div.portfolio-item
                a.portfolio-link(href='/apps')
                  div.portfolio-thumb
                    span.img-responsive(style='text-align:center')
                      i.fa.fa-plus-circle(style='font-size: 13em')
                div.portfolio-details
                  a.portfolio-link(href='/apps')
                    h5 Ver m&aacute;s aplicaciones
                  p Descubre las diferentes aplicaciones construidas para mejorar nuestra calidad de vida.


  section#recent-works.pad-top-25
    div.container
      div.subpage-title
        h2 Un programa de:

      
      div.sponsors
        div.centered(style='text-align:center')
          
          a.sponsor(href='http://www.fundacioncorona.org.co/' target='_blank')
            img(src='/imgs/fcorona.jpg' alt='Fundaci&oacute;n Corona' style='height:40px;')
          
          a.sponsor(href='http://www.eltiempo.com/' target='_blank')
            img(src='/imgs/eltiempo.jpg' alt='El Tiempo' style='height:35px;')
          
          a.sponsor(href='http://www.javeriana.edu.co/' target='_blank')
            img(src='/imgs/javeriana.JPG' alt='Pontificia Universidad Javeriana')
          
          a.sponsor(href='http://www.ccb.org.co' target='_blank')
            img(src='/imgs/ccb.JPG' alt='C&aacute;mara de Comercio de Bogot&aacute;')
          
      
block scripts
  script(src='/js/jquery-migrate-1.2.1.min.js')
  script(src='/js/jquery.carouFredSel-6.2.1.js')
  script.
    var tpj = jQuery;
    tpj.noConflict();
    tpj(document).ready(function () {
      var caroufredsel = function () {
        tpj('#apps').carouFredSel({
          responsive: true,
          scroll: 1,
          circular: true,
          infinite: false,
          items: {
            visible: {
              min: 1,
              max: 3
            }
          },
          prev: '#blog-posts-prev',
          next: '#blog-posts-next',
          auto: {
            play: true
          }
        });
      }
      tpj(window).load(function () {
        caroufredsel();
      });
      tpj(window).resize(function () {
        caroufredsel();
      });
    });