extends layout

block content
  div.container
    div.heading-top
      h1 Plataforma de datos abiertos
      img.logo(src='/imgs/bogota-como-vamos.jpg')
      a#action.btn.btn-flat.flat-info(href='/datasets') EMPOD&Eacute;RATE

  hr
  section.pad-top-50
    div.container
      div.subpage-title
        h5 ¿Qu&eacute; es la plataforma de datos abiertos de Bogot&aacute; C&oacute;mo vamos?
      div.row
        div.col-md-8.pad-25.text-justify
          p.lead Es un servicio que le permite a los ciudadanos interacturar con la informaci&oacute;n
           | recolectada por el programa desde 1998.
          p Bogot&aacute; C&oacute;mo Vamos es un ejercicio ciudadano de seguimiento peri&oacute;dico y sistem&aacute;tico a los
            | cambios en la calidad de vida de la ciudad y al Concejo de Bogot&aacute; DC.
          p Esta plataforma permite a los ciudadanos acceder e interacturar con la informaci&oacute;n
            | recolectada, conocer aplicaciones relacionadas con la ciudad.

          br
          h5 Acerca de Bogotá Cómo Vamos

          p Bogotá Cómo Vamos entiende la calidad de vida como un concepto dinámico referido 
            | específicamente al acceso efectivo a un conjunto de bienes y servicios básicos por
            | parte de la población, y a la percepción que sobre su propio bienestar y el de su
            | comunidad tiene la gente. Además, en el concepto se integran los derechos y deberes de
            | los ciudadanos y las obligaciones del Estado. 
          br
          h5 ¿Qu&eacute; es un API?

          p API es la abreviatura de Aplication Programming Interface. Un API no
            | es m&aacute;s que una serie de servicios o funciones que en este caso
            | esta plataforma ofrece a un desarrollador para que pueda
            | crear software (p&aacute;ginas web, apps para telef&oacute;nos)
            | que utilice de manera directa la informaci&oacute;n aqu&iacute; almacenada.
          br



        div.col-md-4.pad-25
          div.subpage-title Objetivos
          ul.fa-ul
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Fomentar la participaci&oacute;n ciudadana
            li
              i.fa-li.fa-lg.fa.fa-check-circle.text-info 
              | Dar visibilidad a aplicaciones c&iacute;vicas

  hr

  section.pad-top-50
    div.container
      div.subpage-title
        h5 C&aacute;talogos de datos
      div.row
        div#isotope-portfolio-container
          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                a(href='/datasets')
                  img.img-responsive(src='/imgs/API-calidaddevida.jpg' alt='1st Porfolio Thumb')
                  div.portfolio-details
                    h5 Indicadores Calidad de vida Objetivos
                    p Dan cuenta del acceso a bienes y servicios básicos, entre
                      | los cuales está una educación de buena calidad y que promueva valores;
                      | salud de calidad con menos mortalidad y morbilidad y con mejor nutrición;
                      | servicios públicos con instalaciones adecuadas y acceso continuo;
                      | vivienda digna en áreas adecuadas; un medio ambiente sano, con poco ruido, 
                      | buena calidad del recurso hídrico, baja contaminación del aire y visual, 
                      | áreas verdes accesibles y manejo adecuado de basuras; espacio público suficiente,
                      | en buen estado, apto para la recreación, el deporte y la cultura;
                      | movilidad vial ágil, segura, económica y productiva;
                      | seguridad ciudadana fuerte que genere confianza en la ciudad;
                      | ciudadanía responsable, respetuosa, solidaria y proactiva;
                      | excelente gestión pública y atención al usuario, así como una economía 
                      | productiva que permita la creación de más y mejores empleos.

          div.col-xs-12.col-md-6.portfolio-item-wrapper
            div.portfolio-item
              div.portfolio-thumb
                img.img-responsive(src='/imgs/API-percepcionciudadana.jpg' alt='1st Porfolio Thumb')
                div.portfolio-details
                  h5 Indicadores Calidad de vida Subjetivos
                  p Indica a la percepción de la ciudadanía sobre diversos aspectos que afectan su
                    | bienestar y que no necesariamente están correlacionados de forma directa con
                    | las condiciones objetivas. Esta dimensión se obtiene a través de una
                    | Encuesta de Percepción Ciudadana, que contrata anualmente el programa
                    | representativa para las seis zonas urbanas de la ciudad, tres niveles
                    | socioeconómicos y por sexo.

  hr

  section#recent-works.pad-top-50
    div.container
      div.subpage-title
        h5 Aplicaciones Recientes

      div.row.flush
        div#caroufredsel-portfolio-container
          for app in apps
            div.col-xs-12.col-sm-6.col-md-4
              div.portfolio-item
                a.portfolio-link(href='/apps/#{app.id}')
                  div.portfolio-thumb(style='height:180px;position:relative')
                    img.img-responsive(src=app.imageUrl alt='app' onError="this.src='/imgs/genericLink_icon.jpg';" style='max-height:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;')
                div.portfolio-details(style='height:130px;')
                  a.portfolio-link(href='/apps/#{app.id}')
                    h5(style='text-transform:capitalize')= app.name
                  p= app.shortDescription



      span licenciamiento de los datos: 
        a(href='http://opendatacommons.org/licenses/odbl/summary/') odbl 
